table{
    border-collapse:collapse;
    width:80%;
    margin:auto;
}

th, td {
    border: 1px solid black;
    padding:10px;
}

th {
    background : #f2f2f2;
}



 .error {
     color: red;
     font-size: 14px;
 }

.navbar-dark .nav-link.active {
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #0d6efd;
}


